root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript, HTML, CSS
[*.{js,html,css}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# JSON, YAML, TOML
[*.{json,yaml,yml,toml}]
indent_style = space
indent_size = 2

# SQL
[*.sql]
indent_style = space
indent_size = 2

# GitHub Actions
[.github/**/*.{yml,yaml}]
indent_style = space
indent_size = 2

# Configuration files
[{.env*,.editorconfig,netlify.toml}]
indent_style = space
indent_size = 2
